{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
      {% trans 'My Poll App' %}
      {% endblock %}
    </title>

    <!-- css -->
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'polls/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'polls/css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'polls/css/font-awesome.min.css' %}" rel="stylesheet" >
    
    <!-- javascript -->
    <script src="{% static 'polls/js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
  </head>
  <body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">My Poll App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-user" data-toggle="dropdown">{% bootstrap_icon "user" %} {% if user.is_authenticated %}
                {{ user.nickname }}  {% endif %}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li class="dropdown-header-custom">{% blocktrans with nickname=user.nickname %}Signed in as {{ nickname }}{% endblocktrans %}</li>
                <li><a href="{% url 'accountPoll' user.id %}" > {% bootstrap_icon "user" %}{% trans "Your profile" %}</a></li>
                <li><a href="{% url 'logout' %}" >{% bootstrap_icon "log-out" %} {% trans 'Log out' %} </a></li>
                {% else %}
                <li><a href="{% url 'register' %}" >{% bootstrap_icon "user" %} {% trans 'Sign up' %}</a></li>
                <li ><a href="{% url 'login' %}">{% bootstrap_icon "log-in" %}  {% trans 'Log in' %}</a></li>
                {% endif %}
		
              </ul>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Header -->


    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-text">
              <span class="name">My Poll App</span>
              <hr class="star-light">
              <span class="subtitle">Polling in an easier way</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a class="btn btn-custom-intro" href="{% url 'choosePollType' %}">{% trans 'New poll' %} {% bootstrap_icon "plus-sign" %}</a>
	  </div>
	</div>
      </div>

  </body>
</html>
