{%extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
{% load bootstrap4 %}
<b class="container">
  <div class="well">
    <h2>{% trans 'Create a new poll' %}</h2>
  </div>
    <div class="col-md-12 text-center">
        <button type="button" class="btn">
        <a href="{% url 'newPoll' 22 %}" >
	    <h4 class="list-group-item-heading"><i class="fa fa-list-ul"></i> {% trans 'Go Poll !!'%}</h4>
	    <p class="list-group-item-text">{%  trans 'Make your own survey. First read the explanation bellow !'%}</p>
        </a>
        </button>
    </div>
    </b>

    <div class="container">
    <div class="row text-center result">

            <div class="col-md-4 col-sm-6 ">

                <span class="caption">
                       <h4> {% trans 'Approval voting' %}</h4>
                        <blockquote>{% trans 'Approval voting lets each voter indicate support for one or more candidates. Final tallies show how many votes each candidate received, and the winner is the candidate with the most support.' %}</blockquote>
            </span>
            </div>

            <div class="col-md-4 col-sm-6 ">

                <span class="caption">
                       <h4> {% trans 'Borda voting' %}</h4>
                        <blockquote>{% trans 'The Borda count is a ranked voting system: the voter ranks the list of candidates in order of preference.' %}</blockquote>
                        <blockquote>{% trans 'the lowest-ranked candidate gets 0 points, the next-lowest gets 1 point, etc., and the highest-ranked candidate gets n − 1 points, where n is the number of candidates. Once all votes have been counted, the option or candidate with the most points is the winner.' %}</blockquote>
            </span>
            </div>

            <div class="col-md-4 col-sm-6 ">

                <span class="caption">
                       <h4> {% trans 'Simpson voting' %}</h4>
                        <blockquote>{% trans 'The Simpson method is a ranked voting system: the voter ranks the list of candidates in order of preference.' %}</blockquote>
                        <blockquote>{% trans 'The Simpson method selects as the winner the candidate whose greatest pairwise defeat is smaller than the greatest pairwise defeat of any other candidate' %}</blockquote>
            </span>
            </div>



    </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="button" class="btn">
        <a href="{% url 'newPoll' 20 %}" >
	    <h4 class="list-group-item-heading"><i class="fa fa-list-ul"></i> {% trans 'Experimental'%}</h4>
	    <p class="list-group-item-text">{%  trans 'Here you can create a fake survey to try the methods ! Learning By Doing !'%}</p>
        </a>
        </button>
        <div class="col-md-12 col-sm-6 ">

                <span class="caption">
                       <h4> {% trans 'Experimental explanation' %}</h4>
                        <blockquote>{% trans 'Here you can create a fake survey to try the methods and see how the Web app works.' %}</blockquote>
                        <blockquote>{% trans 'You can vote several times and see the results, but you are not allowed to invite people to partecipate in your survey. '  %}</blockquote>
            </span>
            </div>
    </div>
<script src="{% static 'polls/js/choice_ballot.js' %}" type="text/javascript"></script>

{% endblock %}
